h1 {
    text-align: center;
    margin-top: 100px;
}

.list {
    margin: 0 auto;
    max-width: 800px;
    padding-bottom: 50px;
    font-size: 20px;
}

.div {
    color: black;
}

body {
    margin-bottom: 100px;
}

img {
    max-width: 100%;
    display: block;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin: 0 auto;
    max-width: 800px;
    padding: 10px;
}

.grid-item:nth-child(1) {
    grid-row: 1 / 3;
}

.grid2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin: 0 auto;
    max-width: 800px;
    padding: 10px;
}

.p {
    text-align: center;
}
